@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: #284f76;
}

.black-color {
    color: white;
}

.calculator {
    width: 350px;
    background-color: #478CCF;
    display: block;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px black;

    .value-input {
        input {
            height: 150px;
            width: 320px;
            outline: none;
            color: white;
            text-align: right;
            font-size: 50px;
            margin-bottom: 15px;
            padding: 0px 10px;
            background-color: #284f76;
            border: none;
            border-radius: 10px;
            display: block;
        }
    }

    .d-flex {
        display: flex;
        
        .zero {
            width: 50%;
            border-radius: 40px;
        }

        .equal {
            color: white;
        }
    }


}


.equal {
    
}


