button {
    width: 25%;
    padding: 10px;
    height: 75px;
    color: white;
    font-size: 25px;
    border: none;
    margin: 7px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    
    &:hover {
        color: red;
    }
}